# from https://github.com/puppetlabs/puppetlabs-dsc/blob/master/appveyor.yml
version: 1.1.x.{build}
skip_commits:
  message: /^\(?doc\)?.*/
clone_depth: 10
init:
- SET
- 'mkdir C:\ProgramData\PuppetLabs\code && exit 0'
- 'mkdir C:\ProgramData\PuppetLabs\facter && exit 0'
- 'mkdir C:\ProgramData\PuppetLabs\hiera && exit 0'
- 'mkdir C:\ProgramData\PuppetLabs\puppet\var && exit 0'
matrix:
  fast_finish: true

install:
- SET PATH=C:\Program Files\Puppet Labs\Puppet\bin;C:\Ruby%RUBY_VER%\bin;%PATH%
- ps: |
    dism /online /get-features
    $msiPath = "$($env:USERPROFILE)\puppet-agent-5.4.0-x64.msi"
    (New-Object Net.WebClient).DownloadFile('https://downloads.puppetlabs.com/windows/puppet5/puppet-agent-5.4.0-x64.msi', $msiPath)
    cmd /c start /wait msiexec /i $msiPath /q /L* c:\install-puppet.log
    puppet config print config
    puppet config print modulepath
    puppet module install puppetlabs-windows
    puppet module install puppetlabs-powershell
    puppet module install puppetlabs-registry
    puppet module install puppetlabs-dsc
    puppet module install puppetlabs-chocolatey
    puppet module install puppet-windowsfeature
    puppet module install puppet-windows_firewall
    puppet module install puppet-windows_autoupdate
    puppet module install puppet-windows_eventlog
    puppet module install puppet-msoffice
    puppet module install puppet-archive
    puppet module install autostructure-harden_windows_server
    puppet module install ocastle-win_service
- copy /y hiera.yaml C:\ProgramData\PuppetLabs\puppet\etc\hiera.yaml
- ps: |
    $msiPath = "$($env:USERPROFILE)\inspec-2.0.17-1-x64.msi"
    (New-Object Net.WebClient).DownloadFile('https://packages.chef.io/files/stable/inspec/2.0.17/windows/2016/inspec-2.0.17-1-x64.msi', $msiPath)
    cmd /c start /wait msiexec /i $msiPath /q

build: off

test_script:
- ps: |
    puppet apply manifests/site.pp --disable_warnings deprecations --verbose

after_test:
- ps: Get-NetFirewallRule -PolicyStore ActiveStore
- ps: Get-Service

on_finish:
- ps: |
    Get-ChildItem -Path "HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.hta" -Recurse
    Get-PSDrive -PSProvider Registry
    New-PSDrive -Name HKCR -PSProvider Registry -Root Registry::HKEY_CLASSES_ROOT
    Get-ChildItem -Path "HKCR:\htafile\shell\open\command" -Recurse
    Get-ChildItem -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\ProfileList"
    New-PSDrive -Name HKU -PSProvider Registry -Root Registry::HKEY_USERS
    Get-ChildItem -Path "HKU:\*\Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.hta" -Recurse
    Get-ChildItem -Path "HKLM:\SOFTWARE\Microsoft\Office\16.0\Common\COM Compatibility\{0002CE02-0000- 0000-C000-000000000046}"
    Get-ChildItem -Path "HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\SSL 2.0\Server"
    Get-CimClass -cn $env:COMPUTERNAME MSFT_DSCMetaConfiguration -name root/Microsoft/Windows/DesiredStateConfiguration | Select-Object -ExpandProperty CimClassProperties | select name
    True
#- cmd: c:\opscode\inspec\bin\inspec.bat exec https://github.com/dev-sec/windows-baseline/
- cmd: c:\opscode\inspec\bin\inspec.bat exec https://github.com/juju4/windows-baseline/

on_failure:
- cmd: puppet module list --tree
- ps: $PSVersionTable.PSVersion

notifications:
- provider: Email
  to:
  - nobody@nowhere.com
  on_build_success: false
  on_build_failure: false
  on_build_status_changed: false
